<launch>

	<!-- *********************************** -->
	<!--         GLOBAL CONFIG             -->
	<!-- *********************************** -->
	<arg name="map_file" 				default="$(find ar_turtlebot3)/maps/map_real.yaml"/>
	<arg name="map_frame" 				default="map"/>
	<arg name="robot_frame" 			default="base_footprint"/>
	<arg name="camera_link_frame" 		default="camera_link"/>
	<arg name="map_topic" 				default="/map"/>
	<arg name="brick_found_topic" 		default="/brick_found"/>
	<arg name="req_path_topic" 			default="/request_path"/>
	<arg name="start_explore_topic" 	default="/start_explore"/>
	<arg name="model" 					default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

	<!-- *********************************** -->
	<!--        NODES              -->
	<!-- *********************************** -->

	<!-- TURTLEBOT NAVIGATION -->
	<include file="$(find ar_turtlebot3)/launch/ar_turtlebot3_navigation.launch">
		<arg name="map_file" value="$(arg map_file)"/>
		<arg name="model" value="$(arg model)"/>
	</include>

	<!-- MAZE EXPLORER -->
	<node name="MazeExplorer"           pkg="maze_explorer" type="maze_explorer"  output="screen">
	</node>

	<!-- CAMERA OGMAP -->
	<node name="CameraOGMap"           pkg="camera_ogmap" type="camera_ogmap_node" >
		<param name="map_frame"             type="string"       value="$(arg map_frame)"/>
		<param name="camera_link_frame"     type="string"       value="$(arg camera_link_frame)"/>
		<param name="map_topic"             type="string"       value="$(arg map_topic)"/>
		<param name="cam_ogmap_topic"       type="string"       value="camera_ogmap"/>
		<param name="cam_h_fov"       		type="double"       value="1.57079632679"/>
		<param name="ang_res"       		type="double"       value="0.00174532925"/>
		<param name="cam_range"       		type="double"       value="1.5"/>
		<param name="ray_int"       		type="double"       value="0.01"/>
		<param name="cam_rate"       		type="double"       value="5.0"/>
	</node>

	<!-- EXPLORE MOVE -->
	<node name="ExploreMove"           pkg="explore_move" type="explore_move_node"  output="screen">
		<param name="map_frame"             type="string"       value="$(arg map_frame)"/>
		<param name="robot_frame"           type="string"       value="$(arg robot_frame)"/>
		<param name="move_base_pose_topic"  type="string"       value="/move_base_simple/goal"/>
		<param name="req_path_topic"        type="string"       value="$(arg req_path_topic)"/>
		<param name="brick_found_topic"     type="string"       value="$(arg brick_found_topic)"/>
		<param name="start_explore_topic"   type="string"       value="$(arg start_explore_topic)"/>
		<param name="path_rate"             type="double"       value="2.0"/>
		<param name="comp_x"                type="double"       value="0.2"/>
		<param name="comp_y"                type="double"       value="0.2"/>
		<param name="comp_yaw"              type="double"       value="0.523599"/>
	</node>

</launch>
