<!-- -->
<launch>
    <!-- *********************************** -->
    <!--         GLOBAL CONFIG               -->
    <!-- *********************************** -->
    <arg name="map_file" default="$(find ar_turtlebot3)/maps/map_real.yaml"/>
    <arg name="map_frame" default="map"/>
    <arg name="robot_frame" default="base_footprint"/>
    <arg name="camera_link_frame" default="camera_link"/>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
</launch>